.custom_align{
    left: 100px;
    right: 100px;
}
.banner_grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
}

 



/* MEDIA QUERY FOR SMALL SCREEN */

@media screen and (max-width: 640px) {
    .custom_align{
        left: 10px;
        right: 10px;
        margin-top: 8rem; 
    }
    .banner_grid{
        grid-template-columns: 1fr;
    }


    div p {
        font-size: 14px !important;
      }
    div h1 {
        font-size: 2.2rem !important;
        
    }
    div h3 {
        font-size: 1rem !important;
    }

}